.navbar {
	border-radius: 0 !important;
}
.easy-autocomplete input {
    font-weight: 400 !important;
}
#map {
    height: 100%;
}
.label{
	margin-left: 10px !important;
}
.fa-btn {
	margin-right: 6px;
}
.nav-tabs {
	margin-bottom: 10px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #f4f4f4;
	background: #3498db;
	font-weight: 600;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	color: #555;
	background: #f4f4f4;
	font-weight: 600;
}

.easy-autocomplete {
	width: inherit !important;
}
.card-hr {
	border-top: 1px solid #999 !important;
}
.title {
    font-size: 84px;
}

.links > a {
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.foot-links a, .foot-links p{
  	display: block;
   	color: rgb(63, 63, 63);
  	transition: all 0.2s ease-in-out;
  	-webkit-transition: all 0.2s ease-in-out;
  	text-decoration: none;
  	font-size: 13px;
  	color: #f4f4f4;
  	padding-bottom: 5px;
  
}
.foot-links img{
    padding-top: 5px;
}
#footer{
  	background: #2c3e50;
  	margin-top: 50px;
  	padding-top: 40px;
  	padding-bottom: 30px;
 }
.foot-header{
  	font-size: 18px;
  	color: #f4f4f4;
  	padding-bottom: 20px;
}
  
#footer .container{
    max-width: 1100px;
}
#bottom-footer{
  	margin-bottom: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
}
#bottom-footer a{
    text-decoration: none;
	color: #626262;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	font-size: 12px;
	padding: 0px 15px;
	border-right: 1px solid #ccc;
	font-size: 13px;
	color: #626262;
	padding: 0 12px;
}

#final-footer{
    font-size: 11px;
    color: #666;
}
#final-footer i{
    font-size: auto;
}
.community_ranking {
	margin-right: 15px;
	font-size: 16px;
}
.fa-btn-left {
	margin-left: 6px;
}
#preloader  {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99;
  height: 100%;
 }
#status  {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(https://cloud.istyles.com/images/loading_500.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
 }